body {
  display: flex;
  min-height: 100vh;
}

.card {
  width: 20em;
  margin: auto;
  position: relative;
  overflow: hidden;
  transition: transform .3s;
}

.card::after {
  content: '';
  position: absolute;
  /* top: 0; */
  left: 0;
  bottom: 0;
  /* padding: 1em; */
  background: linear-gradient(
  hsla(340, 80%, 60%, .6),
  hsla(200, 80%, 60%, .6));
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  transform: translate(-50%, 50%) scale(0.01);
  transition: inherit;
}

.card__img {
  width: 100%;
  display: block;
  transition: transform .2s;
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  /* background-color: hsla(340, 80%, 60%, .8); */
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transform: translate(0, 100%);
  transition: transform .2s;
  /* display: none; */
  z-index: 100;
}

.card:hover .card__content{
  transform: translate(0);
  transition: transform .2s .3s;
}

.card:hover .card__img {
  transform: scale(1.2) rotate(10deg);
  transition: transform .2s .3s;
}

.card:hover::after {
  transform: scale(2.5);
}