.ball {
  width: 100px;
  height: 100px;
  background-color: tomato;
  border-radius: 50%;
  left: 0;
  top: 0;
  box-shadow: 0 5px 15px rgba(0,0,0,.9);
  position: absolute;
  transition: left .5s,
              background-color .5s,
              top .5s .5s;
}

body{
  min-height: 100vh;
  display: flex;
}

.animate .ball {
  transition: left 2s,  
              top 2s 2s,
              background-color 4s;
  left: calc(100vw - 100px);
  top: calc(100vh - 100px);
  background-color: green;
}

button {
  margin: auto;
}