.ball {
  width: 100px;
  height: 100px;
  background-color: tomato;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: absolute;
  transition: left .5s,
              top .5s .5s;
}

body{
  min-height: 100vh;
  display: flex;
}

.animate .ball {
  left: calc(100vw - 100px);
  top: calc(100vh - 100px);
}

button {
  margin: auto;
}